<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./includes/head.ejs') %>

<body>
  <section class="container">
    <h1>
        <%= titulo %> <br> <br>
        <%- titulo %> <br> <br>

        <% if(typeof titulo !== 'undefined'){ %> 
            <%- titulo %> com if recebido <br> <br>
        <% } else { %>
            O titulo n foi enviado <br> <br>
        <% } %>  

        <% if(typeof titulo !== 'undefined'){ %> 
            <%- titulo %> com if n recebido <br> <br> <br> <br>
        <% } else { %>
            O titulo n foi enviado <br> <br> <br> <br>
        <% } %>  


        Exibindo array de numeros recebida<br>
        <%  for(n in numeros){ %>
            <%- n %>
        <% } %>
         
    </h1>
  </section>
</body>

</html>